<div style="width: 100%; clear: both;">
    <div style="float: left; width: 50%;">
       <img src="https://www.uoc.edu/portal/system/modules/edu.uoc.presentations/resources/img/branding/logo-uoc-default.png", align="left">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; text-align:right;">22.503 · Programación para la ciencia de datos</p>
    <p style="margin: 0; text-align:right;">Grado en Ciencia de Datos Aplicada</p>
    <p style="margin: 0; text-align:right; padding-button: 100px;">Estudios de Informática, Multimedia y Telecomunicaciones</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;"> </div>

Programación para la ciencia de datos - PEC1
============================

En este Notebook encontraréis un conjunto de ejercicios que conforman la primera actividad de evaluación continua (PEC) de la asignatura.

Para cada ejercicio, tened en cuenta que:  

* **Es necesario incluir comentarios** de vuestro código, que expliquen cómo ha implementado la solución del problema planteado.  
* **Es imprescindible** citar las referencias consultadas para realizar la actividad. Se valorará que el código proporcionado solucione el problema propuesto y también la calidad del código (comentarios, legibilidad, claridad, uso de las estructuras de datos adecuadas, buena nomenclatura de las variables y funciones, seguimiento del PEP8, etc. ).

Veréis que cada una de las actividades tiene asociada una puntuación, que indica el peso que tiene la actividad sobre la nota de la PEC.

Además, todas las actividades tienen una etiqueta, que indica los recursos necesarios para llevarla a cabo. Hay tres posibles etiquetas:
* <span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px; ">SM</span>   **Sólo materiales**: las herramientas necesarias para realizar la actividad se pueden encontrar en los materiales de la asignatura (consideraremos también los materiales de la asignatura Fundamentos de Programación, así como las lecturas obligatorias de material externo que se indican en los notebooks).  
* <span style="font-family: Courier New; background-color: #ffcc5c; color: #000000; padding: 3px; ">EG</span>**Consulta externa guiada**: la actividad puede requerir hacer uso de herramientas que no se encuentran en los materiales de la asignatura, pero el enunciado contiene indicaciones de dónde o cómo encontrar la información adicional necesaria para resolver la actividad.  
* <span style="font-family: Courier New; background-color: #f2ae72; color: #000000; padding: 3px; ">EI</span>**Consulta externa independiente**: la actividad puede requerir hacer uso de herramientas que no se encuentran en los materiales de la asignatura, y el enunciado puede no incluir la descripción de dónde o cómo encontrar esta información adicional. Será necesario que el estudiante busque esta información utilizando los recursos que se han explicado en la asignatura.

Es importante notar que estas etiquetas no indican el nivel de dificultad del ejercicio, sino únicamente la necesidad de consulta de documentación externa para su resolución. Además, recuerde que las **etiquetas son informativas**, pero puede consultar referencias externas siempre que lo desee (aunque no se indique explícitamente) o puede que pueda realizar una actividad sin consultar ningún tipo de documentación. Por ejemplo, para resolver una actividad que sólo requiera los materiales de la asignatura, puede consultar referencias externas si se desea, ya sea tanto para ayudar en la resolución como para ampliar conocimientos.


---

## Antes de empezar

Leed atentamente los parágrafos que siguen, relacionados con la originalidad en las actividades, antes de empezar a trabajar en la PEC. Si os surge cualquier duda dirigiros al profesor colaborador de la asignatura antes de continuar con la actividad.

<div class="alert alert-block alert-success"> La falta de originalidad se produce cuando en una actividad aparece contenido que no ha sido elaborado de forma individual por el estudiante y no se referencia adecuadamente su origen. O bien cuando, aunque el contenido externo esté referenciado, este es tan extenso que no es posible considerar al estudiante el autor o autora de la actividad.
<br /><br />
Así, algunos ejemplos de comportamientos inadecuados debido a falta de originalidad son:
<ol>
    <li>Crear la solución de un ejercicio de la PEC en colaboración entre diversos estudiantes.</li>
    <li>Incluir un ejercicio de la PEC que utiliza código encontrado en internet sin citar la fuente.</li>
    <li>Compartir vuestra solución de la PEC con otros estudiantes de la asignatura.</li>
    <li>El uso abusivo de herramientas de inteligencia artificial que realicen la tarea.</li>
    </ol>
</div>

## Instrucciones de entrega

Para proceder a la entrega de la actividad es necesario realizar los siguientes pasos:

1. Comprobad que el notebook se ejecuta correctamente en Google Colaboratory. Es importante que antes de entregar vuestra PEC os aseguréis que la versión final del código ejecuta correctamente en su totalidad. Para ello, se recomienda hacer una ejecución completa desde cero del notebook haciendo click en <i>"Entorno de ejecución y ejecutar todas",</i> y comprobando que todas las celdas del notebook se ejecutan correctamente.
2. Confirmad que sois los autores únicos de la PEC y que esta incluye todas las citas a recursos externos que se hayan utilizado para elaborarla. Con el fin de confirmar que sois los autores únicos de la actividad, añadid vuestro nombre completo en la celda siguiente.
3. Entregad el notebook correspondiente a la resolución de la PEC a través del Registro de Evaluación Continua del aula. Podéis descargar el notebook mediante <i> "Archivo, descargar y descargar .ipynb" </i>

<div class="alert alert-block alert-warning">Yo, Víctor Suesta Arribas, confirmo que he elaborado de forma individual todas las actividades resueltas en esta PEC y que he incluido las citas a todas las fuentes externas que he utilizado para resolver las actividades. </div>


## Type hints

Os recomendamos resolver esta PEC usando type hints. Podemos entender los type hints de Python como una solución formal para indicar estéticamente el tipo de valor dentro del código Python. Os recomendamos la visualización del siguiente [vídeo](https://www.youtube.com/watch?v=j0dy8Q9VIPk) para una introducción a los type hints en Python, y para entender por qué son interesantes.

##  Enunciado
Los siguientes ejercicios se realizarán utlizando el *dataset* employees.csv proporcionado juntamente con la PEC. Cada fila representa información de una persona.

Los campos del *dataset* son los siguientes:

- EmployeeID: Identificador único de cada empleado. Es un número consecutivo.
- FirstName: Nombre de pila del empleado.
- LastName: Apellido del empleado.
- JobTitle: Puesto de trabajo del empleado.
- Department: Departamento de la empresa donde trabaja el empleado.
- DateOfBirth: Fecha de nacimiento del empleado.
- Salary: Salario anual del empleado, en euros.

**IMPORTANTE:** La carga del *dataset* se debe hacer usando **rutas relativas**, tenéis que cargar el fichero teniendo en cuenta que vuestro notebook se encuentra en una carpeta que contiene la carpeta *data* y el archivo de datos correspondiente.


Sólo tenéis que cargar el fichero una sola vez en el primer ejercicio.

In [1]:
from google.colab import drive
import os

# Conecto con mi Google Drive.
drive.mount("/content/drive")

# Defino la ruta donde tengo la actividad (así no tengo que repetirla más adelante).
ruta_actividad = (
    "/content/drive/MyDrive/Programación para la ciencia de datos/"
    "Colab Notebooks/Activity_1"
)

# Compruebo que la carpeta existe antes de intentar acceder.
if os.path.isdir(ruta_actividad):
    os.chdir(ruta_actividad)
else:
    raise FileNotFoundError(f"no encuentro la carpeta: {ruta_actividad}")

# Confirmo que estoy en la ruta correcta y reviso el contenido por si acaso.
print("directorio actual:", os.getcwd())
print("contenido de la carpeta:")
for nombre in os.listdir():
    print(" -", nombre)

Mounted at /content/drive
directorio actual: /content/drive/MyDrive/Programación para la ciencia de datos/Colab Notebooks/Activity_1
contenido de la carpeta:
 - data
 - CAT_PAC1.pdf
 - CAST_PEC1.pdf
 - CAT_PAC1.ipynb
 - .gitignore
 - .git
 - CAST_PEC1.ipynb

**Justificación**: En esta parte he montado el Drive y he preparado el entorno donde voy a trabajar durante toda la práctica.
Prefiero definir la ruta de la actividad en una variable, porque así es más fácil de modificar si cambio de carpeta en el futuro.
También he añadido una comprobación para asegurarme de que la carpeta existe antes de moverme.
Por último, muestro el contenido de la carpeta para confirmar que el dataset y los notebooks están correctamente cargados antes de empezar a trabajar.

## Ejercicio 1

Cargad el *dataset* `employees.xlsx` de forma que obtengáis un objeto de tipo `DataFrame`.

Una vez cargado el *dataset*, resuelve las siguientes cuestiones:

1. Mostrar el número total de empleados en el DataFrame.
2. Calcular el salario máximo, mínimo y promedio de todos los empleados.
3. Mostrar cuántos empleados pertenecen a cada departamento (pista: value_counts()).
4. Crear una nueva columna Age que contenga la edad de cada empleado (a partir de *DateOfBirth*).
5. Mostrar los 5 empleados con mayor salario.
6. Mostrar cuántos empleados tienen un apellido que empieza por la letra "S".
7. Calcular la mediana de salarios de los empleados del departamento "IT".
8. Crear una nueva columna Initials que contenga las iniciales de cada empleado (ejemplo: "John Smith" → "J.S.").

**Pista 1:** Recordad que podéis utilizar librerías como `pandas` para cargar el conjunto de datos de forma sencilla y obtener un `DataFrame`.  

**Pista 2:** El *type hint* de un `DataFrame` es `pd.DataFrame`.  

**Todos los ejercicios se tienen que resolver a partir del `DataFrame` obtenido al finalizar este ejercicio y no cargarlo cada vez que se deba utilizar.**  

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 puntos)**

In [2]:
import pandas as pd
from datetime import datetime

# Leo el archivo con ruta relativa tal como pide el enunciado.
df: pd.DataFrame = pd.read_excel("data/employees.xlsx")

# Por si acaso, fuerzo DateOfBirth a datetime (para evitar problemas si entra como string).
df["DateOfBirth"] = pd.to_datetime(df["DateOfBirth"], errors="coerce")

# Miro unas cuantas filas para confirmar que se ha leído bien.
print("vista previa del dataset:")
display(df.head())

# Calculo el número total de empleados.
total_empleados: int = len(df)
print(f"total de empleados: {total_empleados}")

# Reviso los salarios (máximo, mínimo y media).
sal_max: float = df["Salary"].max()
sal_min: float = df["Salary"].min()
sal_mean: float = df["Salary"].mean()
print(f"salario máximo: {sal_max:.2f} €")
print(f"salario mínimo: {sal_min:.2f} €")
print(f"salario medio: {sal_mean:.2f} €")

# Cuento cuántos empleados hay en cada departamento.
print("\nempleados por departamento:")
display(df["Department"].value_counts())

# Añado una columna con la edad calculada a partir de la fecha de nacimiento.
hoy = datetime.today()
df["Age"] = df["DateOfBirth"].apply(
    lambda d: hoy.year - d.year - ((hoy.month, hoy.day) < (d.month, d.day))
)

# Muestro los cinco empleados con mayor salario.
print("\nlos 5 empleados con mayor salario:")
display(df.nlargest(5, "Salary")[["FirstName", "LastName", "Salary"]])

# Cuento los empleados cuyo apellido empieza por 'S'.
n_apellidos_s: int = df["LastName"].fillna("").str.startswith("S").sum()
print(f"\nempleados con apellido que empieza por 'S': {n_apellidos_s}")

# Calculo la mediana de salario en el departamento de IT.
mediana_it: float = df.loc[df["Department"] == "IT", "Salary"].median()
print(f"\nmediana de salarios en IT: {mediana_it:.2f} €")

# Creo una columna con las iniciales (nombre y apellido).
df["Initials"] = (
    df["FirstName"].fillna("").str[0].str.upper()
    + "."
    + df["LastName"].fillna("").str[0].str.upper()
    + "."
)

# Reviso rápidamente el dataframe final.
print("\nrevisión rápida del dataframe final:")
display(df.head())

vista previa del dataset:

,EmployeeID,FirstName,LastName,JobTitle,Department,DateOfBirth,Salary
0,1,Amanda,Underwood,"Therapist, drama",Marketing,1969-04-14,58894.43
1,2,Brent,Livingston,"Scientist, research (physical sciences)",HR,1976-01-21,24523.44
2,3,Miguel,Smith,Video editor,Marketing,1969-08-29,82213.96
3,4,Erica,Powell,Camera operator,Sales,1984-01-01,66025.96
4,5,Michelle,Cannon,Hydrogeologist,IT,1973-09-26,84966.80

total de empleados: 100
salario máximo: 89267.19 €
salario mínimo: 20053.47 €
salario medio: 51783.93 €

empleados por departamento:

Department
Marketing    24
Sales        22
HR           20
IT           19
Finance      15
Name: count, dtype: int64

los 5 empleados con mayor salario:

    FirstName LastName    Salary
91       Gary   Brooks  89267.19
35  Mackenzie    Smith  87905.36
84       Kurt    Gould  87897.64
22      Emily    Walls  87486.62
4    Michelle   Cannon  84966.80

empleados con apellido que empieza por 'S': 10

mediana de salarios en IT: 61539.68 €

revisión rápida del dataframe final:

,EmployeeID,FirstName,LastName,JobTitle,Department,DateOfBirth,Salary,Age,Initials
0,1,Amanda,Underwood,"Therapist, drama",Marketing,1969-04-14,58894.43,56,A.U.
1,2,Brent,Livingston,"Scientist, research (physical sciences)",HR,1976-01-21,24523.44,49,B.L.
2,3,Miguel,Smith,Video editor,Marketing,1969-08-29,82213.96,56,M.S.
3,4,Erica,Powell,Camera operator,Sales,1984-01-01,66025.96,41,E.P.
4,5,Michelle,Cannon,Hydrogeologist,IT,1973-09-26,84966.80,52,M.C.

**Referencia:** Unidades 0 y 1 de la asignatura y video del type hint.

## Ejercicio 2

Utilizando el dataframe obtenido en el Ejercicio 1:

1. Calcular el salario medio por departamento y mostrar qué departamento tiene la media más alto.

2. Contar cuántos empleados hay en cada departamento y mostrar el resultado en orden descendente.

3. Listar los nombres y apellidos de las personas cuyo salario esté por encima del salario medio general.


<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 puntos)**

In [3]:
# Calculo el salario medio por departamento.
salario_medio_dep = (
    df.groupby("Department")["Salary"]
    .mean()
    .sort_values(ascending=False)
)

print("salario medio por departamento:")
display(salario_medio_dep.round(2))

# Identifico el departamento con la media más alta.
dep_top = salario_medio_dep.idxmax()
media_top = salario_medio_dep.max()
print(f"\ndepartamento con salario medio más alto: {dep_top} ({media_top:.2f} €)")

# Cuento los empleados por departamento en orden descendente.
print("\nnúmero de empleados por departamento (de mayor a menor):")
empleados_por_dep = df["Department"].value_counts()
display(empleados_por_dep)

# Calculo el salario medio general.
salario_medio_general = df["Salary"].mean()

# Selecciono los empleados con salario por encima de la media general.
por_encima_media = df.loc[
    df["Salary"] > salario_medio_general,
    ["FirstName", "LastName", "Salary"],
]

print(
    f"\nempleados con salario por encima de la media general "
    f"({salario_medio_general:.2f} €):"
)
display(por_encima_media.sort_values("Salary", ascending=False))

salario medio por departamento:

Department
IT           55763.58
Sales        54427.39
Finance      51082.83
HR           50417.06
Marketing    47787.45
Name: Salary, dtype: float64

departamento con salario medio más alto: IT (55763.58 €)

número de empleados por departamento (de mayor a menor):

Department
Marketing    24
Sales        22
HR           20
IT           19
Finance      15
Name: count, dtype: int64

empleados con salario por encima de la media general (51783.93 €):

      FirstName   LastName    Salary
91         Gary     Brooks  89267.19
35    Mackenzie      Smith  87905.36
84         Kurt      Gould  87897.64
22        Emily      Walls  87486.62
4      Michelle     Cannon  84966.80
63      Jessica     Wilson  83880.85
2        Miguel      Smith  82213.96
61       Johnny     Santos  80760.80
76         Kyle      Young  80137.56
83      Jessica     Wright  80091.42
19       Alisha      Logan  79942.11
37       Brenda    Simmons  78278.35
33    Elizabeth   Phillips  78140.24
21        Andre  Alexander  77070.10
52      Charles     Rivera  77052.37
94  Christopher      Brown  76322.80
25      Douglas      Leach  76209.72
97     Danielle      Ortiz  75460.28
6        Dustin     Harris  75239.47
54      Shannon     Gibson  74767.44
30       Leslie       Cole  74391.65
38    Christina      Reyes  73674.98
9         Jason     Wilson  73518.93
75      Rachael    Spencer  72623.30
62        Roger     Coffey  72511.53
69       Amanda      Russo  71507.23
16         Ryan      Solis  69737.86
17       Sydney    Alvarez  68442.73
50    Alexander     Prince  68372.69
12         Adam      Smith  68317.52
88        Robin   Richards  66874.68
3         Erica     Powell  66025.96
32       Shelby      Green  65442.90
23        Robin   Harrison  65118.36
66     Savannah      Heath  64002.05
11         Ryan  Alexander  62810.61
81       Steven     Miller  62363.99
77        Jacob   Martinez  62308.12
72       George     Flores  61610.70
47       Angela   Phillips  61539.68
70        Tanya   Roberson  59756.24
0        Amanda  Underwood  58894.43
18      Phillip       King  58075.82
42      Kristen       Webb  57860.77
43         Eric     Wright  57780.76
60        Mason   Gonzalez  56925.70
53      Kristen   Anderson  55074.64
49        Aaron      Lewis  53346.76
55        Kayla      White  53068.55
80        Chris       Chan  52584.67

**Referencia:** Unidades 0 y 1 de la asignatura.

## Ejercicio 3

Utilizando el dataframe obtenido en el Ejercicio 1:

1. Crear la función **rango_empleados** que reciba como parámetros el DataFrame y un rango de edades (min_edad y max_edad).

2. La función debe calcular la edad de cada empleado a partir de su *DateOfBirth*.

3. La función debe devolver un diccionario con:

"conteo" → número total de empleados dentro del rango de edad.

"salario_medio" → salario promedio de esos empleados.

Ejemplo:

<pre>
resultado = rango_empleados(df, min_edad=30, max_edad=50)
print(resultado)

{'conteo': 44, 'salario_medio': 53174.53}
</pre>

Nota:

Se puede calcular la edad realizando la diferencia entre el año actual y el año de *DateOfBirth*

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 puntos)**

In [4]:
from datetime import date
from typing import Dict
import pandas as pd

# Compruebo que está la columna 'Age' (si no está la creo).
if "Age" not in df.columns:
    hoy = date.today()
    df["Age"] = df["DateOfBirth"].apply(
        lambda d: hoy.year - d.year - ((hoy.month, hoy.day) < (d.month, d.day))
    )


# Defino la función rango_empleados tal como pide el enunciado.
def rango_empleados(
    df_in: pd.DataFrame, min_edad: int, max_edad: int
) -> Dict[str, float]:
    """Devuelve conteo y salario medio para empleados en [min_edad, max_edad]."""
    subset = df_in.loc[(df_in["Age"] >= min_edad) & (df_in["Age"] <= max_edad)]

    conteo: int = len(subset)
    salario_medio: float = (
        round(float(subset["Salary"].mean()), 2) if conteo > 0 else float("nan")
    )
    return {"conteo": int(conteo), "salario_medio": salario_medio}


# Pruebo la función con el rango del enunciado.
print("prueba con rango 30–50:")
resultado_demo = rango_empleados(df, min_edad=30, max_edad=50)
print(resultado_demo)

# Pruebas adicionales para comprobar que funciona bien en otros casos.
print("rango amplio (0–120):", rango_empleados(df, 0, 120))
print("rango vacío (200–300):", rango_empleados(df, 200, 300))

prueba con rango 30–50:
{'conteo': 45, 'salario_medio': 54030.6}
rango amplio (0–120): {'conteo': 100, 'salario_medio': 51783.93}
rango vacío (200–300): {'conteo': 0, 'salario_medio': nan}

**Justificación**: En este ejercicio defino la función `rango_empleados` que recibe el DataFrame y dos valores de edad para analizar un grupo concreto de empleados.
Antes de nada, me aseguro de que la columna `Age` exista.
Dentro de la función, filtro el conjunto según las edades indicadas, cuento cuántos empleados hay y calculo su salario medio, redondeado a dos decimales.
Devuelvo el resultado en un diccionario, como pide el enunciado.
Por último, pruebo la función con tres rangos diferentes para comprobar que gestiona bien tanto casos normales como extremos (ej: un rango sin empleados).

**Referencia:** Unidades 0 y 1 de la asignatura.

## Ejercicio 4

1. Dada una lista de números de teléfono, debéis recorrerla y, aplicando expresiones regulares, determinar si el número es válido o no válido.

Un número válido debe tener el formato:

- Opcional +34 o 0034 al inicio (código de país).
- Seguido de 9 dígitos.
- Puede tener espacios, guiones o puntos como separadores entre los dígitos.
- Ejemplos válidos: +34 612-345-678, 0034.612.345.678, 612345678.

2. Dado un texto que contiene horas, debéis extraer, a través de una única expresión regular, una lista con todas las horas que tengan el formato correcto:

- Formato correcto: HH:MM o HH:MM:SS
- HH: 0–23
- MM y SS: 0–59
- Ejemplo válido: 08:30, 23:59:59, 0:5:7 (permitiendo 1 o 2 dígitos).

Podéis utilizar para validar el ejercicio los siguientes ejemplos de uso:

<pre>
# Lista de números de teléfono
numero_movil = [
    "+34 612-345-678",
    "0034.612.345.678",
    "612345678",
    "+34 612 345 67",    # inválido
    "12345678",           # inválido
    "+341234567890"       # inválido
]

# Extracción de horas

texto_con_tiempos = """
La reunión empieza a las 08:30 y termina a las 17:45:30.
Otra hora errónea: 25:61, y otra correcta: 0:5:7.
"""
</pre>
<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 puntos)**

In [5]:
import re
from typing import List

# a) Valido números de teléfono, siguiendo el enunciado.
pat_tel = re.compile(r"^(?:\+34|0034)?[ .-]?\d{3}[ .-]?\d{3}[ .-]?\d{3}$")

numeros_prueba: List[str] = [
    "+34 612-345-678",
    "0034.612.345.678",
    "612345678",
    "+34 612 345 67",  # inválido
    "12345678",        # inválido
    "+341234567890",   # inválido
]

# Separo válidos e inválidos con list comprehensions.
validos = [n for n in numeros_prueba if pat_tel.fullmatch(n)]
invalidos = [n for n in numeros_prueba if not pat_tel.fullmatch(n)]

print("teléfonos válidos:")
print(validos)
print("\nteléfonos inválidos:")
print(invalidos)

# b) Extraigo horas con formato HH:MM o HH:MM:SS permitiendo uno o dos dígitos por bloque.
pat_hora = re.compile(r"\b(?:[01]?\d|2[0-3]):(?:[0-5]?\d)(?::(?:[0-5]?\d))?\b")

texto_con_tiempos = (
    "La reunión empieza a las 08:30 y termina a las 17:45:30.\n"
    "Otra hora errónea: 25:61, y otra correcta: 0:5:7.\n"
)

# Extraigo todas las coincidencias válidas.
horas = pat_hora.findall(texto_con_tiempos)
print("\nhoras válidas encontradas en el texto:")
print(horas)

teléfonos válidos:
['+34 612-345-678', '0034.612.345.678', '612345678']

teléfonos inválidos:
['+34 612 345 67', '12345678', '+341234567890']

horas válidas encontradas en el texto:
['08:30', '17:45:30', '0:5:7']

**Justificación**: En este ejercicio he trabajado con expresiones regulares para validar formatos de texto.
Primero, defino un patrón que reconoce números de teléfono españoles, con la opción de incluir el prefijo +34 o 0034 y separadores como espacios, guiones o puntos.
Decido usar list comprehensions para separar válidos e inválidos porque son más compactas y fáciles de leer que un bucle `for`.
Después, creo otro patrón para detectar horas válidas con los formatos `HH:MM` o `HH:MM:SS`, permitiendo también que los valores tengan un solo dígito.
Por último, pruebo el patrón con un texto de ejemplo que incluye tanto horas válidas como incorrectas, para asegurar que la expresión cumple con las restricciones de rango (0–23 para horas, 0–59 para minutos y segundos).

**Referencia:** Unidades 0 y 1 de la asignatura.

## Ejercicio 5

Utilizando el dataframe obtenido en el Ejercicio 1:

1. Crea una nueva columna llamada **Categoria_Trabajo** que contenga la categoría del trabajo según la columna *JobTitle*.

Por ejemplo:
- Si *JobTitle* contiene "Engineer" → "Engineering"
- Si *JobTitle* contiene "Manager" → "Management"
- Si *JobTitle* contiene "Teacher" → "Education"
- Si no cumple ninguna de las anteriores → "Other"

2. Crea un diccionario **category_counts** que contenga el número de empleados por cada *JobCategory* usando dict comprehension.

3. Ordena el diccionario por número de empleados descendente y guárdalo como *OrderedDict*.

4. Imprime el diccionario recorriéndolo con un bucle for.

<span style="font-family: Courier New; background-color: #82b74b; color: #000000; padding: 3px;">SM</span> **(2 puntos)**

In [6]:
from collections import OrderedDict
from typing import Dict

# Defino una función para clasificar los trabajos según la palabra clave del título.
def asignar_categoria(job: str) -> str:
    j = (job or "").lower()
    if "engineer" in j:
        return "Engineering"
    if "manager" in j:
        return "Management"
    if "teacher" in j:
        return "Education"
    return "Other"


# Aplico la función a la columna 'JobTitle' para crear una nueva categoría más general.
df["Categoria_Trabajo"] = df["JobTitle"].apply(asignar_categoria)

# Calculo cuántos empleados hay en cada categoría usando una dict comprehension.
category_counts: Dict[str, int] = {
    cat: int((df["Categoria_Trabajo"] == cat).sum())
    for cat in df["Categoria_Trabajo"].unique()
}

# Ordeno el diccionario de forma descendente por número de empleados.
category_counts = OrderedDict(
    sorted(category_counts.items(), key=lambda x: x[1], reverse=True)
)

# Recorro el diccionario e imprimo los resultados.
print("número de empleados por categoría de trabajo:")
for categoria, cantidad in category_counts.items():
    print(f"{categoria}: {cantidad}")

# Muestro algunos ejemplos de cómo ha quedado la nueva columna.
print("\nejemplo de la nueva columna 'Categoria_Trabajo':")
display(df[["JobTitle", "Categoria_Trabajo"]].head())

número de empleados por categoría de trabajo:
Other: 74
Management: 12
Engineering: 10
Education: 4

ejemplo de la nueva columna 'Categoria_Trabajo':

                                  JobTitle Categoria_Trabajo
0                         Therapist, drama             Other
1  Scientist, research (physical sciences)             Other
2                             Video editor             Other
3                          Camera operator             Other
4                           Hydrogeologist             Other

**Justificación**: En este ejercicio agrupo los distintos puestos de trabajo en categorías generales para simplificar el análisis.
Primero, defino una función `asignar_categoria()` que revisa la columna `JobTitle` y asigna una categoría según las palabras clave más comunes (`Engineer`, `Manager`, `Teacher`).
Si un título no coincide con ninguno de esos casos, lo clasifico como "Other", ya que siempre conviene tener una categoría por defecto.
Después, utilizo una dict comprehension para contar el número de empleados por categoría.
Finalmente, ordeno el resultado con `OrderedDict` para mostrar las categorías desde la más frecuente a la menos frecuente y muestro un ejemplo de cómo se añade la nueva columna al DataFrame.

**Referencia:** Unidades 0 y 1 de la asignatura.